# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
.tmp

# Icon must ends with two \r.
Icon

# IDE
.idea

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# SASS Cache
.sass_cache/
.sass-cache/

# Installed Bower/Node modules
bower_components/
node_modules/
